table {
  width: 100%;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
mat-paginator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.material-symbols-outlined {
  color: rgb(0, 0, 0);
  font-size: 2rem;
}
.material-symbols-outlined:hover {
  color: rgb(94, 34, 204);
  cursor: pointer;
}
.md-margin{
  margin: 30px !important;
}